@import url('https://fonts.googleapis.com/css2?family=Sevillana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


/* defult style */

*{
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
}

body{
    font-family: "Inter", sans-serif;
    font-weight: normal;
    background-color: var(--bg_color);
    overflow-x: hidden;
    
}

:root{
    --primary_color: #E6533C;
    --sendary_color:#928d8d;
    --bg_color:#0c0c0c;
    --text_color:#fff;
    color: var(--text_color);
    
}

 /* background: rgba(34, 34, 34, 1);
 */
h1{
    font-size: 4.8rem;
    font-weight: bold;
}
h4{
    font-size: 3rem;
    font-weight: bold;
}
h5{
    font-size: 1.75rem;
    font-weight: bold;
}
p{
    font-size: 0.87rem;
    color: var(--sendary_color);
}

a{
    text-decoration: none;
    
}
ul,li{
    list-style: none;
}
img{
    width: 100%;
}
.btn{
    padding: 0.8rem 2rem;
    border-radius: 60px;
    font-size: 18px;
    color: var(--text_color);
    border: none;
}

.container{
    width: 90%;
    margin: 0 auto;
    

}

section{
    padding-top: 15px;
    padding-bottom: 15px;
}
/* navbar design */


nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
}

nav h2{
    font-size: 3rem;
    font-weight: 800;
    font-style: italic;
    color: var(--primary_color);
}
.menu{
    margin-right: 6rem;
}
.menu ul{
    display: flex;
    align-items: center;
    gap: 3rem;
    border: 2px solid var(--sendary_color);
    padding: 10px 2px;
    border-radius: 50px;
    
}
.menu ul li{
   
}
.menu ul li a{
    font-size: 1.2rem;
    color: var(--text_color);
    transition: all 0.5s ;
    padding: 8px 18px;
    border-radius: 50px;
   
}
.menu ul li a:hover{
    color: var(--text_color);
    background-color: var(--primary_color);
}
.menu ul li a.active{
    color: var(--text_color);
    background-color: var(--primary_color);
}
.bar{
    font-size: 1.8rem;
    color: var(--text_color);
    cursor: pointer;
    display: none;
}

/* banner */
.banner_part{
    background: linear-gradient(180deg, #111111 0%, rgba(119, 119, 119, 0) 100%);

}
.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    

}
.banner_con{
    width: 50%;
}
.banner_con h1{}
.banner_con h1 span{
    font-family: "Sevillana", cursive;
    font-weight: normal;
}
.banner_img{
  width: 50%;
  text-align: center;
  position: relative;
}
.banner_img img{
   width: 400px;
   height: 600px;
}
.banner_btn{
    margin-top: 10px;
}
.join{
    background-color: var(--primary_color);
}
.app{
    margin-left: 10px;
    background: transparent;
    border: 2px solid var(--sendary_color);
}
.box1{
    background-color: rgb(99, 88, 88);
    position: absolute;
    top: 100px;
    right: 120px;
    padding: 10px 30px;
    border-radius: 5px;
}
.box1 span{
    font-size: 0.8rem;
    color: var(--sendary_color);
}
.box2{
    background-color: rgba(99, 88, 88, 0.741);
    position: absolute;
    bottom: 100px;
    left: 30px;
    padding: 10px 30px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.box2 .carcel{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: var(--primary_color);
}
.box2_con span{
    font-size: 0.8rem;
    color: var(--sendary_color);
}


/* habit */

.heading {
    text-align: center;
}
.heading  h3{
   font-size: 3rem;
   margin-bottom: 8px;
}
.habit_imgs{
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.habit_img{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
.habit_img p{
    text-align: center;
}
.habit_img h5{
    font-size: 1.5rem;
}

.habit_img img{
    height: 180px;
    width: 180px;
    border-radius: 50%;
  
}
.habit_img h5{
    font-size: 1.2rem;
 }
/* extra */

.extra{
    width: 100%;
    padding: 1rem 0.5rem;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #352c2c;
}
.extra_con{
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-direction: column;
    gap: 2rem;
   
}

.extra_con button{
    background: var(--primary_color);
}

.extra_img img{
    width: 500px;
    overflow: hidden;
    border-radius: 20px;
}
/* traning */
.tranint_heading{
    text-align: start;
}
.traning_img{
    width: 100%;
    height: 100%;
    position: relative;
    
}

.traning_img:nth-child(1) .img_blur{
    width: 100%;
    height: 100%;
    background-color: rgba(161, 186, 36, 0.54);
    position: absolute;
    top: 0;
    left: 0;
}
.traning_img:nth-child(1).traning_img p{
    position: absolute;
    left: 10%;
    bottom: 20%;
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--text_color);
}
.traning_img:nth-child(2) .img_blur{
    width: 100%;
    height: 100%;
    background-color: rgba(91, 42, 16, 0.616);
    position: absolute;
    top: 0;
    left: 0;
}
.traning_img:nth-child(2).traning_img p{
    position: absolute;
    top: 10%;
    left: 20%;
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--text_color);
}
.traning_img:nth-child(3) .img_blur{
    width: 100%;
    height: 100%;
    background-color: rgba(23, 15, 11, 0.734);
    position: absolute;
    top: 0;
    left: 0;
}
.traning_img:nth-child(3).traning_img p{
    position: absolute;
    bottom: 20%;
    left: 20%;
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--text_color);
}
.traning_img:nth-child(4) .img_blur{
    width: 100%;
    height: 100%;
    background-color: rgba(16, 10, 8, 0.66);
    position: absolute;
    top: 0;
    left: 0;
}
.traning_img:nth-child(4).traning_img p{
    position: absolute;
    top: 20%;
    right: 20%;
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--text_color);
}
.traning_img:nth-child(5) .img_blur{
    width: 100%;
    height: 100%;
    background-color: rgba(97, 139, 45, 0.718);
    position: absolute;
    top: 0;
    left: 0;
}
.traning_img:nth-child(5).traning_img p{
    position: absolute;
    bottom: 20%;
    left: 20%;
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--text_color);
}
.traning_img:nth-child(6) .img_blur{
    width: 100%;
    height: 100%;
    background-color: rgba(14, 20, 8, 0.718);
    position: absolute;
    top: 0;
    left: 0;
}
.traning_img:nth-child(6).traning_img p{
    position: absolute;
    bottom: 20%;
    left: 20%;
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--text_color);
}
.traning_img img{
    height: 250px;
    object-fit: cover;
    position: relative;
}
.traning_gallary{
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(9,1fr);
    grid-template-areas:
    'a a b b b b b c c '
    'd d d d e e f f f'
    ;
}

.traning_gallary .img1{
    grid-area: a ;
   
}
.traning_gallary .img2{
    grid-area: b ;
}
.traning_gallary .img3{
    grid-area: c ;
}
.traning_gallary .img4{
    grid-area: d ;
}
.traning_gallary .img5{
    grid-area: e ;
}
.traning_gallary .img6{
    grid-area: f;
}


/* bmi */
.bmi_heading{
    text-align: start;
    margin-left: 20%;
    padding: 5rem 0;
}

.bmi_section{
    width: 100%;
    height: 70vh;
    background-color: #333131;
}
.bmi_con{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
 
}
.bmi_left{
    width: 40%;
}
.bmi_right{
    width: 55%;
}

table {
    margin-top: 50px;
    margin-left: 10%;
   
}
thead tr th{
    border: 2px solid rgb(107, 97, 88);
    padding: 10px 30px;
    text-align: center;
}
tbody tr td{
    border: 2px solid rgb(107, 97, 88);
    padding: 10px 30px;
    text-align: center;
    font-size: 12px;
    color:rgb(177, 173, 170); ;
}
from{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    margin-top: 20px;
}

from input{
    height: 5vh;
    width: 100%;
    border: none;
    outline: none;
    background-color: #585151;
    border-radius: 5px;
}
from input::placeholder{
    color: #fff;
    padding-left: 10px;
    font-size: 1rem;
}
from button{
    background: var(--primary_color);
    color: #fff;
   padding: 0.5rem 0.9rem !important;
   display: inline-block;
   font-size: 1rem !important;
   grid-column-start: -3;
}


/* team */

.team_img{
    width: 100%;
    height: 100%;
    position: relative;
    
}

.team_img:nth-child(1) .img_blur{
    width: 100%;
    height: 100%;
    background-color: rgba(24, 24, 21, 0.54);
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
}
.team_img p{
    position: absolute;
    left: 8%;
    bottom: 9%;
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--text_color);
}
.team_img .img_blur{
    width: 100%;
    height: 100%;
    background-color: rgba(24, 24, 21, 0.54);
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
}

.team_img img{
    height: 250px;
    object-fit: cover;
    position: relative;
    border-radius: 10px;
}

.team_gallary{
    background: #585151;
    width: 80%;
    margin: 0 auto;
    padding: 1rem 2rem;
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-areas:
    'a b c '
    'd e f'
    ;
    gap: 0.8rem;
}

.team_gallary .team1{
    grid-area: a ;
   
}
.team_gallary .team2{
    grid-area: b ;
}
.team_gallary .team3{
    grid-area: c ;
}
.team_gallary .team4{
    grid-area: d ;
}
.team_gallary .team5{
    grid-area: e ;
}
.team_gallary .team6{
    grid-area: f;
}






























/* responsive mobail */

@media screen and (max-width:576px) {
    .btn{
        padding: 0.6rem 1.6rem;
        border-radius: 40px;
        font-size: 14px;
        
    }
    nav{
        padding: 0.5rem 0;
    }
    .menu{
        display: none;
    }
    .bar{
        display: block;
    }

    /* banner */
    .banner{
        flex-direction: column;
        gap: 10px;
    }
    .banner_con{
        width: 100%;
    }
    .banner_con h1{
        font-size: 3rem;
    }
    .banner_img{
        width: 100%;
    }
    .banner_btn{
        display: flex;
        align-items: center;
        gap: 5px;
    }
    
    .box1{
        top: 100px;
        right: 20px;
        
    }

    /* habit */
    .habit_imgs{
        grid-template-columns: 1fr;
        gap: 10px;
    }
    .heading  h3{
        font-size: 2rem;
        margin-bottom: 8px;
     }
     /* extra */
     .extra{
        flex-direction: column;
        gap: 2rem;
    }
    .extra_con h4{
        font-size: 2rem;
    }
    .extra_img img{
        width: 360px;
      
    }

    /* trading */
    .traning_gallary{
        margin-top: 2rem;
        grid-template-columns: repeat(2,1fr);
        grid-template-areas:
        'a b'
        'c d'
        'e f';
    }

    
    /* bmi */
    .bmi_section{
       height: 115vh;
    }
    .bmi_con{
        flex-direction: column;
        gap: 20px;
  
    }
    .bmi_left h5{
        font-size: 1.2rem;
    }
    table {
        margin-top: 20px;
       
    }
    thead tr th{
        padding: 5px 60px; 
    }
    tbody tr td{
        padding: 5px 60px; 
    }
    .bmi_left{
        width: 100%;
    }
    .bmi_right{
        width: 100%;
    }
    .bmi_right h5{
        font-size: 1.2rem;
    }
    from input::placeholder{
        
        font-size: 0.6rem;
    }

    /* team */

    .team_gallary{
        margin-top: 2rem;
        grid-template-columns: repeat(2,1fr);
        grid-template-areas:
        'a b'
        'c d'
        'e f';
    }
    .team_img img{
        height: 200px;
        
    }
    
    }
@media screen  and (min-width:577px) and (max-width:992px) {
    nav h2{
        font-size: 2rem;
       
    }
    .menu{
        margin: 0;
    }
    .menu ul{
       margin-left: 5px;
       gap: 0.5rem;
        
    }
    .menu ul li a{
        font-size: 1rem;
        padding: 8px 14px;
    }
    /* banner */
    .banner{
        flex-direction: column;
        gap: 10px;
    }
    .banner_con{
        width: 100%;
    }
    .banner_con h1{
        font-size: 3rem;
    }
    .banner_img{
        width: 100%;
    }
    .banner_btn{
        display: flex;
        align-items: center;
        gap: 5px;
    }
    
    .box1{
        top: 100px;
        right: 20px;
        
    }
     /* habit */
     .habit_imgs{
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }
    .heading  h3{
        font-size: 2rem;
        margin-bottom: 8px;
     }
     /* extra */
     .extra_con h4{
        font-size: 1.6rem;
    }
     .extra_con p{
        font-size: 0.6rem;
    }
    .extra_img img{
        width: 320px;
      
    }
    /* trading */
    .traning_gallary{
        margin-top: 2rem;
        grid-template-columns: repeat(7,1fr);
        grid-template-areas:
        'a a b b b c c'
        'd d d e e f f'
    }
    /* bmi */
      /* bmi */
      .bmi_section{
        height: 115vh;
     }
     .bmi_con{
         flex-direction: column;
         gap: 20px;
   
     }
     .bmi_left h5{
         font-size: 1.2rem;
     }
     table {
         margin-top: 20px;
        
     }
     thead tr th{
         padding: 5px 60px; 
     }
     tbody tr td{
         padding: 5px 60px; 
     }
     .bmi_left{
         width: 100%;
     }
     .bmi_right{
         width: 100%;
     }
     .bmi_right h5{
         font-size: 1.2rem;
     }
     from input::placeholder{
         
         font-size: 0.6rem;
     }

     /* team */
 
     .team_gallary{
        margin-top: 2rem;
        grid-template-columns: repeat(3,1fr);
        grid-template-areas:
        'a b c'
        'd e f'
        
    }
    .team_img img{
        height: 220px;
        
    }

}